.profile__feed {
    padding: 1rem 2rem 0 2rem;
    margin: 5em 7% 5em 7%;
    background-color: aliceblue;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

#profile__close {
    background-image: url("https://pixy.org/src/68/683752.png");
    background-size: cover;
    width: 2em;
    height: 2em;
    border-radius: 10px;
    align-self: flex-end;
}

.line {
    border-bottom: 1px solid darkgray;
    margin-left: 6.5em;
    margin-right: 6.5em;
}

.line__msg {
    border-bottom: 1px dashed darkgray;
    margin-left: 5%;
    margin-right: 5%;
}

.profile__header {
   align-self: center;
   text-align: center;
   border-bottom: 2px dashed darkgray;
   width: 100%;
}

.profile__userName {
    margin: 0%;
    padding: 0%;
}

.profile__section {
    display: flex;
    flex-flow: row wrap;
}

.profile__posts {
    flex-basis: 45%;
    list-style-type: none;
    padding: 1em;
}

.profile__post {
    border: 2px solid darkgray;
    margin: 1em;
    padding: 1em;
    background-color: white;
}

.profile__msgs {
    flex-basis: 45%;
    list-style-type: none;
    padding: 1em;
}

.profile__msg {
    border: 2px solid darkgray;
    margin: 1em;
    padding: 1em;
    background-color: white;
}

.profile__headings {
    text-align: center;
}