{
  "users": [
    {
      id:1,
      name: "Sora",
      email: "sora@gmail.com",
      password: "password"
    },
    {
      id:2,
      name: "Jury",
      email: "jury@gmail.com",
      password: "password"
    },
    {
      id:3,
      name: "Isaac",
      email: "isaac@gmail.com",
      password: "password"
    }
    ],
  "messages": [],
  "posts": [],
  "likes": []
}